/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require font-awesome
 *= require_self
 *= require happyhours
 */
.navbar {
  border: 0px;
  border-radius: 0px;
}

.navbar-brand {
  color: white !important;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #3D7EBB !important;
 }

#sidebar-buttons {
  margin: 10px 0 10px 0;
}

footer {
  margin-top: 30px;
  min-height: 300px;
  background: #272727;
  color: white;
}