<!DOCTYPE html>
<html>
<head>
  <title>InfoBAr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
    </header>
    <nav class="navbar navbar-inverse" role="navigation">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">InfoBAr</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">HappyHours</a></li>
          <li><a href="#">Locations</a></li>
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Übersichtskarte", root_path %></li>
          <li><a href="#">Veranstaltungskalender</a></li>
          <li><a href="#">Mensaplan</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div id="content">
      <%= yield %>
    </div>
	</div>
  <footer>

  </footer>


</body>
</html>
